<div class="sheet-card">
    <div class="name">
        <h2>{{name}}</h2>
    </div>
    <div class="class-table">
        <table>
            <tr style="text-align: center;">
                <th>Jet</th>
                <td>[[1d100]]/[[{{formule}}]]</td>
            </tr>
            {{#if (eq cost "floor()")}}
            {{else}}
            <tr style="text-align: center;">
                <th>Coût</th>
                <td>[[{{cost}}]] PM</td>
            </tr>
            {{/if}}
        </table>
    </div>
</div>